@{ ViewData["Title"] = "About SPX"; }

<head>
    <style>
        #content {
            margin: auto;
            width: 80%;
        }

        p {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        img {
        }
    </style>
</head>
<body>
    <div id="content">

        <h1>What is SPX?</h1>

        <p>
            SPX is an online platform made by fans meant for fans,
            here we trade sport team stocks, everyday is a new day for
            an opportunity...SPX is an online platform made by fans meant for fans,
            here we trade sport team stocks, everyday is a new day for
            an opportunity.
        </p>

        <h1>How do Buckets work?</h1>

        <p>
            Buckets are a pool of teams which you can create customly from
            any league or sport, and once created you can start investing
            in them, the money goes to the....Buckets are a pool of teams which you can create customly from
            any league or sport, and once created you can start investing
            in them, the money goes to the
        </p>
    </div>

    <h3>Example:</h3>
    <div><img src="~/Images/example.png" /></div>

</body>
